<div class="main-container">
    <div class="header">
        <img src="assets/images/top.png" />
    </div>
    <div class="bellyband-container">
        <div class="band">
            <div class="left">
                <h1>Now available: A new Westlaw experience</h1>
                <p>Try the new version of Westlaw for detailed and customizable research reports powered by AI, plus the tools and resources you already rely on.</p>
            </div>
            <div class="right">
                <button routerLink="/westlaw-prototype/new-research-v5">Use the new UI</button>
            </div>
           
        </div>
    </div>
    <div class="bottom">
        <img src="assets/images/middle.png" />
        <img src="assets/images/bottom.png" />
    </div>
</div>