<div class="search-bar" id="search-bar" *ngIf="!compactMode">
  <div class="border-gradient">
    <div class="input-container">
      <div
        contenteditable="true"
        class="text-editor"
        data-placeholder="Ask a question or enter the topic you’d like to research..."
        (input)="inputChanged($event)"
        #searchInput
      ></div>
      <div
        class="mention-container"
        *ngIf="showMentions"
        [style.top.px]="mentionTop"
        [style.left.px]="mentionLeft"
      >
        <div
          class="mention-item"
          *ngFor="let mention of mentions"
          (click)="selectMention(mention.title)"
        >
          <span class="mention-title"> {{ mention.title }}</span>
          <span class="mention-description">{{ mention.description }}</span>
        </div>
      </div>
      <div class="right-button">
        <app-button
          [expanded]="false"
          [icon]="'arrow-up'"
          [backgroundColor]="'blue'"
          [color]="'white'"
          [disabled]="!inputContent || inputContent.length <= 1"
          (click)="redirectToResearch()"
        ></app-button>
      </div>
    </div>
  </div>
  <!-- Commented due to new design -->
  <!-- <app-button *ngIf="isFileUploadedDone" [label]="'Opponents-Work.docx'" [addBorder]="true" [icon]="'file-word'"
          iconColor="blue-light" iconAppearance="solid" [secondIcon]="'close'"></app-button> -->
  <div class="button-groups">
    <div class="left-buttons">
      <app-toggle
        [options]="toggleOptions"
        (selectedOptionChanged)="toggleOptionSelected($event)"
        (click)="isFileUploadedDone = false; isFileLoading = false"
      ></app-toggle>
      <app-button
        [label]="'New York'"
        [font]="'clario'"
        [icon]="'location-dot'"
        [color]="'blue'"
        [includeDropdown]="false"
        (click)="clickJurisdiction()"
      ></app-button>
    </div>
    <div class="right-buttons">
      <app-button
        [expanded]="false"
        [icon]="'paperclip'"
        [color]="'blue'"
        (click)="clickHandler()"
      ></app-button>
      <!-- <app-button [expanded]="false" [icon]="'at'" [color]="'blue'" (click)="openTagDialog()"></app-button> -->
      <app-button
        [expanded]="false"
        [icon]="'book-sparkles'"
        [color]="'blue'"
        (click)="clickTaskLibrary()"
      ></app-button>
    </div>
  </div>
  <!-- Commented due to new design -->
  <!-- <div class="search-suggestions" *ngIf="showSearchSuggestions">
      <div class="suggestion-item" *ngFor="let suggestion of searchSuggestions">
        <div class="suggestion-content">
          <span class="suggestion-title">{{ suggestion.title }}</span>
          <span class="suggestion-description">{{ suggestion.description }}</span>
        </div>
        <div class="suggestion-icon">
          <saf-icon icon-name="arrow-up-right" [color]="'blue'" size="16px"></saf-icon>
        </div>
      </div>
    </div> -->

  <!-- Commented due to new design -->
  <!-- <div class="suggested-actions" *ngIf="isFileUploadedDone">
      <p>Suggested actions</p>
      <div class="link-items">
        <div class="link-item" *ngFor="let link of links" [ngClass]="{'linkable': link.link}">
          <div *ngIf="link.link" class="link-wrapper" routerLink="/westlaw-prototype/deep-research/quick-check">
            <div class="link-content">
              <label>{{ link.title }}</label>
              <p>{{ link.description }}</p>
            </div>
            <saf-anchor [href]="link.link" class="link-anchor">
              <saf-icon icon-name="arrow-up-right" color="#032E5B" size="16px"></saf-icon>
            </saf-anchor>
          </div>
          <div *ngIf="!link.link" class="link-wrapper">
            <div class="link-content">
              <label>{{ link.title }}</label>
              <p>{{ link.description }}</p>
            </div>
            <saf-anchor [href]="link.link" class="link-anchor">
              <saf-icon icon-name="arrow-up-right" color="#032E5B" size="16px"></saf-icon>
            </saf-anchor>
          </div>

        </div>
      </div>
    </div> -->

  <div
    class="response-time-menu"
    *ngIf="showResponseTimeMenu"
    #responseTimeMenu
  >
    <app-response-time-menu
      (searchTypeChanged)="closeSearchMenu($event)"
    ></app-response-time-menu>
  </div>

  <div
    class="deep-research-menu"
    *ngIf="showDeepResearchMenu"
    #deepResearchMenu
  >
    <app-deep-research-menu
      (searchTypeChanged)="closeDeepResearchMenu()"
    ></app-deep-research-menu>
  </div>
</div>

<!-- Attachment Dialog -->
<saf-dialog
  #attachmentDialog
  class="attachment-dialog"
  id="button-dialog-overlay"
  modal="false"
  is-alert="false"
  is-header="true"
  is-footer="true"
  no-focus-trap="false"
  dialog-title="Attach files"
  [hidden]="!openAttachmentDialog"
  (hide)="closeDialog()"
  triggerId="button-dialog-trigger"
>
  <div class="dialog-info">
    <saf-icon
      class="shield-icon"
      [appearance]="'solid'"
      icon-name="shield-check"
      size="16px"
    ></saf-icon>
    <span>
      The security and privacy of your data is important to us. We employ
      multiple layers of security to keep it safe.
    </span>
    <saf-icon class="info-icon" icon-name="circle-info" size="16px"></saf-icon>
  </div>
  <div class="dialog-content">
    <div class="drop-area">
      <p class="drop-area-text">
        Choose “Select files” or drag files into this space.
      </p>
      <app-button
        [label]="'Select files'"
        [addBorder]="true"
        (click)="uploadFile()"
        backgroundColor="attach"
        height="40px"
        width="113px"
      ></app-button>

      <p>
        <span>Supported file types: TXT, HTM, HTML, RTF (20 MB per file)</span
        ><br />
        <span
          >Supported file types: PDF, DOC, DOCX, EML, MSG, WPD, ZIP (500 MB per
          file)</span
        >
      </p>
    </div>
  </div>

  <div class="loading" *ngIf="isFileLoading">
    <div class="loading-info">
      <p>Opponents-Work.docx</p>
      <div class="loading-progress">
        <span>{{ fileUploadStepText }}</span>
        <saf-icon
          class="circle-xmark"
          icon-name="circle-xmark"
          size="16px"
        ></saf-icon>
      </div>
    </div>
    <saf-progress
      indeterminate="true"
      completelabel=""
      min="0"
      max="100"
      [value]="fileUploadProgress"
      aria-valuemin="0"
      aria-valuemax="100"
      status-color="loading"
    >
    </saf-progress>
  </div>

  <div
    slot="footer"
    style="display: flex; gap: 12px; justify-content: flex-end; width: 100%"
  >
    <app-button
      [label]="'Cancel'"
      [addBorder]="true"
      (click)="closeDialog()"
    ></app-button>
    <app-button
      [label]="'Done'"
      [backgroundColor]="'blue'"
      [color]="isFileLoading ? 'white' : 'black'"
      (click)="closeDialogDone()"
      [disabled]="!isFileLoading"
    ></app-button>
  </div>
</saf-dialog>

<!-- Task Library Dialog -->
<saf-dialog
  #taskLibraryDialog
  class="task-library-dialog"
  id="button-dialog-overlay"
  modal="false"
  is-alert="false"
  is-header="true"
  is-footer="true"
  no-focus-trap="false"
  dialog-title="Task Library"
  [hidden]="!openTaskLibraryDialog"
  (hide)="closeDialog()"
  triggerId="button-dialog-trigger"
>
  <div class="dialog content">
    <div class="search-section">
      <saf-search-field
        density="inherit"
        a11y-aria-description="search workflows and prompts"
        placeholder="Search Workflows and prompts"
      >
      </saf-search-field>
    </div>

    <div class="filters-wrapper">
      <div class="filter-sidebar">
        <div class="filter-section">
          <saf-text appearance="heading-md" density="inherit">Type</saf-text>
          <saf-checkbox>Workflows</saf-checkbox>
          <saf-checkbox>Prompts</saf-checkbox>
        </div>

        <div class="filter-section">
          <saf-text appearance="heading-md" density="inherit"
            >Category</saf-text
          >
          <saf-checkbox>Research</saf-checkbox>
          <saf-checkbox>Review</saf-checkbox>
          <saf-checkbox>Draft</saf-checkbox>
        </div>

        <div class="filter-section">
          <saf-text appearance="heading-md" density="inherit">Tag</saf-text>
          <saf-checkbox>Litigation</saf-checkbox>
          <saf-checkbox>Transnational</saf-checkbox>
        </div>

        <div class="filter-section">
          <saf-text appearance="heading-md" density="inherit">Access</saf-text>
          <saf-checkbox>Favorites</saf-checkbox>
          <saf-checkbox>Private</saf-checkbox>
          <saf-checkbox>Created by CoCounsel</saf-checkbox>
          <saf-checkbox>Shared with app</saf-checkbox>
        </div>

        <div class="bottom-toolbar">
          <saf-anchor href="#"
            ><saf-icon appearance="light" icon-name="cog"></saf-icon> Manage
            Library</saf-anchor
          >
        </div>
      </div>

      <div class="results-panel">
        <div class="results-title">
          <saf-text appearance="heading-md" density="inherit" class="card-title"
            >Showing 42 results</saf-text
          >
          <app-button
            [label]="'Sort by recent'"
            [icon]="'arrow-up-arrow-down'"
            [addBorder]="true"
            [backgroundColor]="'white'"
            [color]="'#1D4B34'"
          ></app-button>
        </div>
        <div class="results-cards">
          <div class="result-card">
            <saf-text
              appearance="heading-md"
              density="inherit"
              class="card-title"
              >Legal Document Analysis</saf-text
            >
            <p class="class-paragraph">
              Identify potential issues with a document’s cited authority and
              quotations.
            </p>
            <div class="workflow-footer">
              <saf-text density="inherit">Workflow</saf-text>
              <saf-text density="inherit" class="steps-counter"
                >• 4 steps</saf-text
              >
            </div>
          </div>

          <div class="result-card">
            <saf-text
              appearance="heading-md"
              density="inherit"
              class="card-title"
              >Jurisdictional Survey
              <saf-icon appearance="light" icon-name="user-group"></saf-icon
            ></saf-text>
            <p class="class-paragraph">
              Research and summarize relevant laws and regulations across
              multiple jurisdictions.
            </p>
            <div class="workflow-footer">
              <saf-text density="inherit">Workflow</saf-text>
              <saf-text density="inherit" class="steps-counter"
                >• 4 steps</saf-text
              >
            </div>
          </div>

          <div class="result-card">
            <saf-text
              appearance="heading-md"
              density="inherit"
              class="card-title"
              >Find Claims</saf-text
            >
            <p class="class-paragraph">
              Identify and analyze potential legal claims based on provided
              facts and documents.
            </p>

            <div class="workflow-footer">
              <saf-text density="inherit">Workflow </saf-text>
              <saf-text density="inherit" class="steps-counter"
                >• 4 steps</saf-text
              >
            </div>
          </div>

          <div class="result-card">
            <saf-text
              appearance="heading-md"
              density="inherit"
              class="card-title"
              >Draft Demand Letter</saf-text
            >
            <p class="class-paragraph">
              Prepare a claim with supporting facts and desired resolution.
            </p>
            <div class="workflow-footer">
              <saf-text density="inherit">Workflow </saf-text>
              <saf-text density="inherit" class="steps-counter"
                >• 4 steps</saf-text
              >
            </div>
          </div>

          <div class="result-card">
            <saf-text
              appearance="heading-md"
              density="inherit"
              class="card-title"
              >Draft Complaint</saf-text
            >
            <p class="class-paragraph">
              Create complaint sections based on parties involved, jurisdiction,
              case type, and reference documents on facts.
            </p>
            <div class="workflow-footer">
              <saf-text density="inherit">Workflow </saf-text>
              <saf-text density="inherit" class="steps-counter"
                >• 4 steps</saf-text
              >
            </div>
          </div>

          <div class="result-card">
            <saf-text
              appearance="heading-md"
              density="inherit"
              class="card-title"
              >Timeline</saf-text
            >
            <p class="class-paragraph">
              Create a detailed timeline of events from case documents and
              evidence.
            </p>
            <div class="workflow-footer">
              <saf-text density="inherit">Workflow </saf-text>
              <saf-text density="inherit" class="steps-counter"
                >• 4 steps</saf-text
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</saf-dialog>

<!-- Jurisdiction Dialog -->
<saf-dialog
  #jurisdictionDialog
  class="jurisdiction-dialog"
  id="button-dialog-overlay"
  modal="false"
  is-alert="false"
  is-header="true"
  is-footer="true"
  no-focus-trap="false"
  dialog-title="Jurisdiction"
  dialog-subtitle="1 jurisdiction selected. Select up to 3."
  [hidden]="!openJurisdictionDialog"
  (hide)="closeJurisdictionDialog()"
  triggerId="button-dialog-trigger"
>
  <div class="jurisdiction-dialog">
    <div class="dialog-row">
      <app-button
        [addBorder]="true"
        label="Clear All"
        color="racing-green"
      ></app-button>
      <app-button [icon]="'keyboard'"></app-button>
    </div>

    <div class="checkbox-section">
      <div>
        <div class="checkbox-header">
          <saf-checkbox
            ><saf-text appearance="heading-lg" density="inherit"
              >All States</saf-text
            ></saf-checkbox
          >
        </div>
        <div class="checkbox-grid">
          <div>
            <saf-checkbox>Alabama</saf-checkbox>
            <saf-checkbox>Alaska</saf-checkbox>
            <saf-checkbox>Arizona</saf-checkbox>
            <saf-checkbox>Arkansas</saf-checkbox>
            <saf-checkbox>California</saf-checkbox>
            <saf-checkbox>Colorado</saf-checkbox>
            <saf-checkbox>Connecticut</saf-checkbox>
            <saf-checkbox>Delaware</saf-checkbox>
            <saf-checkbox>D.C.</saf-checkbox>
            <saf-checkbox>Florida</saf-checkbox>
            <saf-checkbox>Georgia</saf-checkbox>
            <saf-checkbox>Hawaii</saf-checkbox>
          </div>
          <div>
            <saf-checkbox>Idaho</saf-checkbox>
            <saf-checkbox>Illinois</saf-checkbox>
            <saf-checkbox>Indiana</saf-checkbox>
            <saf-checkbox>Iowa</saf-checkbox>
            <saf-checkbox>Kansas</saf-checkbox>
            <saf-checkbox>Kentucky</saf-checkbox>
            <saf-checkbox>Louisiana</saf-checkbox>
            <saf-checkbox>Maine</saf-checkbox>
            <saf-checkbox>Maryland</saf-checkbox>
            <saf-checkbox>Massachusetts</saf-checkbox>
            <saf-checkbox>Michigan</saf-checkbox>
            <saf-checkbox>Minnesota</saf-checkbox>
          </div>
          <div>
            <saf-checkbox>Mississippi</saf-checkbox>
            <saf-checkbox>Missouri</saf-checkbox>
            <saf-checkbox>Montana</saf-checkbox>
            <saf-checkbox>Nebraska</saf-checkbox>
            <saf-checkbox>Nevada</saf-checkbox>
            <saf-checkbox>New Hampshire</saf-checkbox>
            <saf-checkbox>New Jersey</saf-checkbox>
            <saf-checkbox>New Mexico</saf-checkbox>
            <saf-checkbox current-checked="true">New York</saf-checkbox>
            <saf-checkbox>North Carolina</saf-checkbox>
            <saf-checkbox>North Dakota</saf-checkbox>
            <saf-checkbox>Ohio</saf-checkbox>
          </div>
          <div>
            <saf-checkbox>Oklahoma</saf-checkbox>
            <saf-checkbox>Oregon</saf-checkbox>
            <saf-checkbox>Pennsylvania</saf-checkbox>
            <saf-checkbox>Rhode Island</saf-checkbox>
            <saf-checkbox>South Carolina</saf-checkbox>
            <saf-checkbox>South Dakota</saf-checkbox>
            <saf-checkbox>Tennessee</saf-checkbox>
            <saf-checkbox>Texas</saf-checkbox>
            <saf-checkbox>Utah</saf-checkbox>
            <saf-checkbox>Vermont</saf-checkbox>
            <saf-checkbox>Virginia</saf-checkbox>
            <saf-checkbox>Washington</saf-checkbox>
          </div>
          <div>
            <saf-checkbox>West Virginia</saf-checkbox>
            <saf-checkbox>Wisconsin</saf-checkbox>
            <saf-checkbox>Wyoming</saf-checkbox>
            <saf-checkbox>Tribal</saf-checkbox>
            <saf-checkbox>Guam</saf-checkbox>
            <saf-checkbox>Puerto Rico</saf-checkbox>
            <saf-checkbox>Virgin Islands</saf-checkbox>
            <saf-checkbox>Northern Mariana Islands</saf-checkbox>
          </div>
        </div>
        <div class="checkbox-header">
          <saf-checkbox
            ><saf-text appearance="heading-lg" density="inherit"
              >Include related federal</saf-text
            ><saf-icon
              color="#032E5B"
              icon-name="circle-question"
              appearance="light"
            >
            </saf-icon
          ></saf-checkbox>
        </div>
      </div>

      <div>
        <div class="checkbox-header">
          <saf-checkbox
            ><saf-text appearance="heading-lg" density="inherit"
              >All Federal</saf-text
            ></saf-checkbox
          >
        </div>
        <div class="checkbox-header">
          <saf-text appearance="heading-md" density="inherit"
            >By Court</saf-text
          >
        </div>
        <div class="checkbox-grid-single">
          <saf-checkbox>United States Supreme Court</saf-checkbox>
          <saf-checkbox>Federal Courts of Appeals</saf-checkbox>
          <saf-checkbox>Federal District Courts</saf-checkbox>
          <saf-checkbox>Bankruptcy Courts</saf-checkbox>
          <saf-checkbox>Tax Court</saf-checkbox>
          <saf-checkbox>U.S. Court of Federal Claims</saf-checkbox>
        </div>
        <div class="checkbox-header">
          <saf-text appearance="heading-md" density="inherit"
            >By Circuit</saf-text
          ><saf-icon
            color="#032E5B"
            icon-name="circle-question"
            appearance="light"
          >
          </saf-icon>
        </div>
        <div class="checkbox-grid-small">
          <div>
            <saf-checkbox>1st Circuit</saf-checkbox>
            <saf-checkbox>2nd Circuit</saf-checkbox>
            <saf-checkbox>3rd Circuit</saf-checkbox>
            <saf-checkbox>4th Circuit</saf-checkbox>
            <saf-checkbox>5th Circuit</saf-checkbox>
            <saf-checkbox>6th Circuit</saf-checkbox>
            <saf-checkbox>7th Circuit</saf-checkbox>
          </div>

          <div>
            <saf-checkbox>8th Circuit</saf-checkbox>
            <saf-checkbox>9th Circuit</saf-checkbox>
            <saf-checkbox>10th Circuit</saf-checkbox>
            <saf-checkbox>11th Circuit</saf-checkbox>
            <saf-checkbox>DC Circuit</saf-checkbox>
            <saf-checkbox>Federal Circuit</saf-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    slot="footer"
    style="display: flex; gap: 12px; justify-content: flex-end; width: 100%"
  >
    <app-button
      [label]="'Cancel'"
      [addBorder]="true"
      color="secondary"
      (click)="closeJurisdictionDialog()"
    ></app-button>
    <app-button
      [label]="'Save'"
      [backgroundColor]="'blue'"
      [color]="'white'"
      (click)="closeJurisdictionDialog()"
    ></app-button>
  </div>
</saf-dialog>

<div
  class="compact-search-container"
  id="search-bar"
  *ngIf="compactMode"
  #compactSearchBar
>
  <div class="search-bar-compact">
    <div class="input-container-compact">
      <div
        class="compact-input"
        [class.focused]="isCompactSearchBarFocused"
        contenteditable="true"
        data-placeholder="Ask me to perform research tasks and more…"
        (focus)="focusCompactModeSearchBar()"
        (input)="inputChanged($event)"
      ></div>
      <div class="submit-button-compact">
        <app-button
          [ngClass]="
            !inputContent || inputContent.length <= 1
              ? 'submit-button-icon-disabled'
              : 'submit-button-icon'
          "
          [label]="'New York'"
          [font]="'clario'"
          [icon]="'location-dot'"
          [color]="!inputContent || inputContent.length <= 1 ? 'gray' : 'blue'"
          [includeDropdown]="false"
          [hidden]="!isCompactSearchBarFocused"
        ></app-button>
        <app-button
          [expanded]="false"
          [icon]="'arrow-up'"
          [backgroundColor]="'blue'"
          [color]="'white'"
          [disabled]="!inputContent || inputContent.length <= 1"
        ></app-button>
      </div>
    </div>
  </div>

  <div class="right-buttons-compact" *ngIf="isCompactSearchBarFocused">
    <app-button
      [expanded]="false"
      [icon]="'paperclip'"
      [color]="'blue'"
      (click)="clickHandler()"
    ></app-button>
    <app-button
      [expanded]="false"
      [icon]="'book-sparkles'"
      [color]="'blue'"
      (click)="clickTaskLibrary()"
    ></app-button>
    <app-button [expanded]="false" [icon]="'at'" [color]="'blue'"></app-button>
  </div>
</div>
