<!-- side-nav.component.html -->
<div class="side-nav" [class.collapsed]="collapsed">
    <div>
        <div class="logo-section" routerLink="/westlaw-prototype/new-research">
            <!-- <div class="logo-container">
                <img src="assets/images/tr-logo-white.png" alt="Logo" class="logo">
            </div> -->
            <!-- <div class="logo-text" *ngIf="!collapsed">
                <p class="logo-title">Thomson Reuters</p>
                <p class="logo-subtitle">Westlaw Precision</p>
            </div>
            <div class="logo-dropdown" *ngIf="!collapsed">
                <saf-icon icon-name="chevron-down" size="16px"></saf-icon>
            </div> -->
        </div>
        <div class="top-buttons" style="padding-top:80px;">
            <div *ngFor="let button of menuButtons">
                <div class="active-indicator" *ngIf="activeMenu == button.label"></div>
                <app-button [icon]="button.icon" [color]="'white'" [iconColor]="'white'" [label]="button.label"
                    [iconAppearance]="(activeMenu == button.label) ? 'solid' : 'light'" [expanded]="!collapsed"
                    (click)="button.action ? button.action() : ''"></app-button>
            </div>
        </div>
    </div>
    <div class="bottom-buttons">
        <div *ngFor="let button of bottomButtons">
            <div class="active-indicator" *ngIf="activeMenu == button.label"></div>
            <app-button [color]="'white'" [iconColor]="'white'" [icon]="button.icon" [label]="button.label"
                [iconAppearance]="(activeMenu == button.label) ? 'solid' : 'light'" [expanded]="!collapsed"
                (click)="button.action ? button.action() : ''"></app-button>
        </div>
        <div class="collapse-button-divider">
        </div>
        <app-button [icon]="collapsed ? 'arrow-right-from-line' : 'arrow-left-from-line'" [color]="'white'"
            [iconColor]="'white'" [label]="collapsed ? 'Expand' : 'Collapse'" [expanded]="!collapsed"
            (click)="toggleNav()"></app-button>
    </div>
    <div class="settings-modal" *ngIf="showSettings">
        <div class="header">
            <span class="title">Settings</span>
            <saf-icon icon-name="xmark" color="#404040" size="16px" appearance="solid" presentation
                (click)="toggleSettings()"></saf-icon>
        </div>
        <div class="text-size-section">
            <div class="header">
                <span class="section-title">Text</span>
                <saf-icon icon-name="chevron-up" color="#404040" size="16px" presentation></saf-icon>
            </div>
            <div class="section-content">
                <div class="selector">
                    <span class="input-label">Font size</span>
                    <div class="size-buttons">
                        <button class="font-size-button-small" (click)="selectedFontSize = 1"
                            [class.active]="selectedFontSize == 1">
                            <span>Aa</span>
                        </button>
                        <button class="font-size-button-medium" (click)="selectedFontSize = 2"
                            [class.active]="selectedFontSize == 2">
                            <span>Aa</span>
                        </button>
                        <button class="font-size-button-big" (click)="selectedFontSize = 3"
                            [class.active]="selectedFontSize == 3">
                            <span>Aa</span>
                        </button>
                    </div>
                </div>
                <div class="text-preview">
                    <span>Preview of text size</span>
                </div>
            </div>
        </div>
        <div class="appearance-section">
            <div class="header">
                <span class="section-title">Appeareance</span>
                <saf-icon icon-name="chevron-up" color="#404040" size="16px" presentation></saf-icon>
            </div>
            <div class="section-content">
                <div class="options-container">
                    <div class="option" (click)="selectedMode = 1" [class.active]="selectedMode==1">
                        <img src="assets/images/light-mode-preview.png">
                        <span class="option-label">Light</span>
                    </div>
                    <div class="option" (click)="selectedMode = 2" [class.active]="selectedMode==2">
                        <img src="assets/images/dark-mode-preview.png">
                        <span class="option-label">Dark</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>