<div class="centered-page demo-welcome-page">
  <div class="main-content">
      <div class="header">
      </div>
      <div class="content">
        <div>
          <saf-button id="launcher" (click)="handleRoute()" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Prototype A
          </saf-button>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <saf-button id="launcher" (click)="handleRoute('v2')" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Prototype B
          </saf-button>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <saf-button id="launcher" (click)="handleRoute('v3')" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Prototype (Sources) C
          </saf-button>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <saf-button id="launcher" (click)="handleRoute('v4')" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Prototype (Sources) D
          </saf-button>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <saf-button id="launcher" (click)="handleRoute('v5')" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Phase 2 Prototype A
          </saf-button>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <saf-button id="launcher" (click)="handleRoute('v6')" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Phase 1 Prototype E
          </saf-button>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <saf-button id="launcher" (click)="handleRoute('v7')" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Phase 2 Prototype A/B Test Follow up (A)
          </saf-button>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <saf-button id="launcher" (click)="handleRoute('v8')" appearance="primary" [attr.density]="isCompactDensity === true ? 'compact' : 'standard'">
            Westlaw Phase 2 Prototype A/B Test Follow up (B)
          </saf-button>
        </div>
      </div>
  </div>
</div>
