

<!-- app.component.html -->
<div class="main-page" [class.collapsed]="sidebarCollapsed">
    <aside>
        <app-sidenav (collapseChanged)="toggleSidebar($event)"></app-sidenav>
    </aside>
    <main [class.expanded]="expandedFooter" [class.hiddenFooter]="hideFooter">
        <header [class.extended]="sidebarCollapsed" *ngIf="showBanner">
            <!-- Commented since new version didn'y have title -->
            <!-- <h2 *ngIf="showTitle" class="app-title">Westlaw</h2> -->
            <img class="banner" src="assets/images/banner-image.png" alt="Banner">
        </header>
        <router-outlet></router-outlet>
    </main>
    <footer *ngIf="!hideFooter" [class.expanded]="expandedFooter">
        <app-footer *ngIf="!showSearchBarFooter"></app-footer>
        <div class="search-bar-container" *ngIf="showSearchBarFooter">
            <app-search-bar [compactMode]="true" style="width: 720px;" (compactSearchBarFocused)="searchBarFocused()" (compactSearchBarBlur)="searchBarBlur()"></app-search-bar>
        </div>
    </footer>
</div>


